body {
	margin: 0;
	font-family: sans-serif;
}

#content {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

iframe {
	border: none;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#nav-menu + label:hover::before,
#nav-menu + label:hover::after,
button.nav:hover::before {
	border-color: #F60;
}

#nav-menu + label:active::before,
#nav-menu + label:active::after,
button.nav:active::before {
	border-color: #D40;
}

.nav {
	position: fixed;
	z-index: 2;
	left: 1rem;
	height: 1.6rem;
	width: 1.6rem;
	border: none;
	border-radius: 0.2rem;
	background-color: white;
	cursor: pointer;
}

#nav-menu {
	display: none;
}

#nav-menu + label {
	top: 1rem;
}

#nav-menu.portrait + label {
	top: auto;
	bottom: 1rem;
}

#nav-menu + label::before,
#nav-menu + label::after {
	position: absolute;
	top: 0.3rem;
	left: 0.2rem;
	height: 0.18rem;
	width: 1.2rem;
	border-top: 0.2rem solid black;
	content: '';
	transition: all 0.3s;
}

#nav-menu + label::after {
	top: 0.7rem;
	border-bottom: 0.2rem solid black;
}

#nav-menu:checked + label::before,
#nav-menu:checked + label::after {
	left: 0.1rem;
}

#nav-menu:checked + label::before {
	top: 0.63rem;
	transform: rotate(45deg);
}

#nav-menu:checked + label::after {
	top: 0.5rem;
	border-top: transparent;
	transform: rotate(-45deg);
}

.nav.jump::before {
	position: absolute;
	padding: 0.4rem;
	top: 0.25rem;
	border: solid black;
	border-width: 0 0.3rem 0.3rem 0;
	content: '';
}

.nav.jump.prev {
	top: 4rem;
}

.nav.jump.prev.portrait {
	top: auto;
	bottom: 7rem;
}

.nav.jump.prev::before {
	left: 0.5rem;
	transform: rotate(135deg);
}

.nav.jump.next {
	top: 7rem;
}

.nav.jump.next.portrait {
	top: auto;
	bottom: 4rem;
}

.nav.jump.next::before {
	left: 0;
	transform: rotate(-45deg);
}

span {
	display: inline-block;
	color: black;
	font-weight: bold;
}

#nav-chapter {
	top: 10.2rem;
	height: auto;
	width: auto;
	min-width: 1.6rem;
	text-align: center;
	transition: left 0.3s;
	pointer-events: none;
}

#nav-chapter.portrait {
	top: auto;
	bottom: 10rem;
}

#nav-menu:checked ~ #nav-chapter {
	left: -10rem;
}

#nav-link {
	top: 10rem;
	left: -10rem;
	transition: left 0.3s;
}

#nav-link.portrait {
	top: auto;
	bottom: 10rem;
}

#nav-menu:checked ~ #nav-link {
	transition: left 0.4s;
}

#nav-link > svg {
	fill: none;
	stroke: black;
	stroke-width: 12;
}

#nav-link:hover > svg {
	stroke: #F60;
}

#link:active > svg {
	stroke: #D40;
}

#nav-link > .tooltip {
	position: absolute;
	display: none;
	top: 0;
	left: 2.2rem;
	height: 1.6rem;
	width: 9rem;
	border-radius: 0.2rem;
	background-color: dimgrey;
	text-align: center;
}

#nav-link:hover > .tooltip {
	display: block;
}

#nav-link.copied > .tooltip {
	display: block;
	width: 4.4rem;
	background-color: #F60;
}

#nav-link > .tooltip::before {
	color: white;
	font-family: sans-serif;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.6rem;
	content: 'Copy module link';
}

#nav-link.copied > .tooltip::before {
	content: 'Copied!';
}

#nav-link > .tooltip::after {
	position: absolute;
	margin-top: -0.4rem;
	top: 50%;
	right: 100%;
	border: 0.4rem solid transparent;
	border-right-color: dimgrey;
	content: '';
}

#nav-link.copied > .tooltip::after {
	border-right-color: #F60;
}

#nav-courses {
	position: fixed;
	top: 13rem;
	left: -10rem;
	height: auto;
	width: 2.3rem;
	border-radius: 0.2rem;
	background-color: white;
	cursor: auto;
	transition: left 0.3s;
}

#nav-courses.portrait {
	top: auto;
	bottom: 12.7rem;
}

#nav-menu:checked ~ #nav-courses {
	transition: left 0.5s;
}

#nav-courses > span {
	margin-bottom: 0.2rem;
	text-align: center;
}

#nav-courses > * {
	width: 2.3rem;
}

#nav-list {
	position: fixed;
	z-index: 1;
	overflow: auto;
	top: 0;
	left: -23rem;
	height: 100%;
	width: 22rem;
	background-color: white;
	box-shadow: 0 0 1rem;
	transition: left 0.3s;
}

#nav-list > span {
	margin: 0 0.4em 0 3.2em;
	width: 2em;
	text-align: right;
}

.section {
	height: 2.15rem;
	width: 1.67rem;
	border: 0.15rem solid white;
	border-top-width: 0.3rem;
	border-bottom-width: 0.3rem;
	background-clip: padding-box;
	background-color: black;
	color: white;
	font-family: inherit;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 0.8rem;
	-webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
	background-color: silver;
}

::-webkit-scrollbar-thumb:hover {
	background-color: darkgray;
}

::-webkit-scrollbar-thumb:active {
	background-color: dimgray;
}

.section:hover,
button.selected {
	background-color: #F60;
}

.section:active {
	background-color: #D40;
}

span.selected {
	color: #F60;
}
