body {
	margin: 0;
	font-family: sans-serif;
}

#content {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

iframe {
	border: none;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#nav-menu + label:hover:before,
#nav-menu + label:hover:after,
button.nav:hover:before {
	border-color: #F60;
}

#nav-menu + label:active:before,
#nav-menu + label:active:after,
button.nav:active:before {
	border-color: #D40;
}

.nav {
	position: fixed;
	z-index: 2;
	left: 1em;
	width: 1.6em;
	height: 1.6em;
	border: none;
	border-radius: 0.2em;
	background-color: white;
	font-size: 1em;
}

#nav-menu {
	display: none;
}

#nav-menu + label {
	top: 1em;
	cursor: pointer;
}

#nav-menu.portrait + label {
	top: auto;
	bottom: 1em;
}

#nav-menu + label:before,
#nav-menu + label:after {
	position: absolute;
	top: 0.3em;
	left: 0.2em;
	width: 1.2em;
	height: 0.18em;
	border-top: 0.2em solid black;
	content: '';
	transition: all 0.3s;
}

#nav-menu + label:after {
	top: 0.7em;
	border-bottom: 0.2em solid black;
}

#nav-menu:checked + label:before,
#nav-menu:checked + label:after {
	left: 0.1em;
	transition: all 0.3s;
}

#nav-menu:checked + label:before {
	top: 0.63em;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

#nav-menu:checked + label:after {
	top: 0.5em;
	border-top: transparent;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.nav.jump:before {
	position: absolute;
	padding: 0.4em;
	top: 0.25em;
	border: solid black;
	border-width: 0 0.3em 0.3em 0;
	content: '';
	cursor: pointer;
}

.nav.jump.prev {
	top: 4em;
}

.nav.jump.prev.portrait {
	top: auto;
	bottom: 7em;
}

.nav.jump.prev:before {
	left: 0.5em;
	-webkit-transform: rotate(135deg);
	    -ms-transform: rotate(135deg);
	        transform: rotate(135deg);
}

.nav.jump.next {
	top: 7em;
}

.nav.jump.next.portrait {
	top: auto;
	bottom: 4em;
}

.nav.jump.next:before {
	left: 0;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

span {
	display: inline-block;
	color: black;
	font-weight: bold;
}

#chapter {
	top: 10.2em;
	min-width: 1.6em;
	height: auto;
	text-align: center;
	transition: left 0.3s;
	pointer-events: none;
}

#chapter.portrait {
	top: auto;
	bottom: 10em;
}

#nav-menu:checked ~ #chapter {
	left: -10em;
	transition: left 0.3s;
}

#nav-courses {
	position: fixed;
	top: 10.2em;
	left: -10em;
	height: auto;
	transition: left 0.3s;
}

#nav-courses.portrait {
	top: auto;
	bottom: 9.5em;
}

#nav-menu:checked ~ #nav-courses {
	left: 0.7em;
	transition: left 0.5s;
}

#nav-courses > span {
	margin-bottom: 0.2em;
	text-align: center;
}

#nav-courses > * {
	width: 2.3em;
}

#nav-list {
	position: fixed;
	z-index: 1;
	overflow: auto;
	left: -23em;
	width: 22em;
	height: 100%;
	background-color: white;
	box-shadow: 0 0 1em;
	transition: left 0.3s;
}

#nav-menu:checked ~ #nav-list {
	left: 0;
	transition: left 0.3s;
}

#nav-list > span {
	margin: 0 0.4em 0 3.2em;
	width: 2em;
	text-align: right;
}

.section {
	width: 1.67em;
	height: 2.15em;
	border: 0.15em solid white;
	border-top-width: 0.3em;
	border-bottom-width: 0.3em;
	background-color: black;
	color: white;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
}

.section:hover {
	background-color: #F60;
}

.section:active {
	background-color: #D40;
}

button.selected {
	background-color: #F60;
}

span.selected {
	color: #F60;
}
